.header {
  @extend .flex, .flex__column;
  min-height: 40vh;
  background-color: lightblue;

  &__buttons {
    @extend .flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: lightblue;
  }
}
