.header {
  @extend .flex;
  min-height: 40vh;
  background-color: $color-gunmetal;
  background-image: linear-gradient(
    to right,
    $color-dark,
    $color-gunmetal,
    $color-dark
  );
  width: 100vw;

  &__wrapper {
    @extend .flex, .flex__column;

    &__plum {
      @extend .header__wrapper;
      & .heading__color {
        color: $color-plum;
      }
    }

    &__blue {
      @extend .header__wrapper;
      & .heading__color {
        color: $color-cyan;
      }
    }

    &__green {
      @extend .header__wrapper;
      & .heading__color {
        color: $color-green;
      }
    }
  }

  &__buttons {
    @extend .flex;
    flex-wrap: wrap;
    width: 100vw;
  }

  &__titles {
    @extend .heading, .heading__h1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 6rem;
    overflow: hidden;

    @include respond(tab-port) {
      height: 4.6rem;
    }
    @include respond(phone) {
      height: 3rem;
    }
  }

  &__title {
    @extend .heading__color;

    line-height: 6rem;
    display: block;
    text-align: left;
    @include respond(tab-port) {
      line-height: 4.6rem;
    }
    @include respond(phone) {
      line-height: 3rem;
    }
  }
}
