.header {
  position: relative;
  min-height: 40vh;
  background-color: $color-gunmetal;
  background-image: linear-gradient(
    to right,
    $color-dark,
    $color-gunmetal,
    $color-dark
  );
  width: 100vw;

  @include respond(tab-port) {
    min-height: 30vh;
  }

  &__bg {
    @extend .flex;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.current {
      z-index: 9;
      animation: hideBgImage 4s ease 0s 1 forwards;
    }
  }

  &__wrapper {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    width: 90vw;
    transition: opacity 2s;

    &.active {
      transition: opacity 2s ease-out;
      opacity: 1;
    }

    &.hidden {
      transition: opacity 2s ease-in;
      opacity: 0;
    }

    &__red {
      @extend .header__wrapper;
    }

    &__blue {
      @extend .header__wrapper;
      & .heading__color {
        background-image: $gradient-blue;
      }
    }

    &__green {
      @extend .header__wrapper;
      & .heading__color {
        background-image: $gradient-green;
      }
    }
  }

  &__titles {
    @extend .heading, .heading__h1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    &__cont {
      height: 6rem;
      overflow: hidden;

      @include respond(tab-land) {
        height: 4.6rem;
      }

      @include respond(tab-port) {
        height: 4.6rem;
      }
      @include respond(phone) {
        height: 3rem;
      }
    }
  }

  &__title {
    @extend .heading__color;

    line-height: 6rem;
    display: block;
    text-align: left;

    @include respond(tab-land) {
      line-height: 5rem;
    }

    @include respond(tab-port) {
      line-height: 3.8rem;
    }
    @include respond(phone) {
      line-height: 3rem;
    }
  }
}
