section {
  @extend .flex, .flex__column;
  margin: 3rem 0;
}

.education {
  &__list {
    @extend .flex, .flex__column;
    justify-content: flex-start;
    list-style: none;

    &__item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 1rem;
      width: 40rem;
      & span {
        margin-right: 0.5rem;
        font-weight: 700;
      }
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.5rem;
  }

  &__title {
    text-align: right;
    width: 30rem;
    margin-right: 1rem;
  }

  &__bar {
    position: relative;
    width: 30rem;
    transition: all 0.3s;

    &__inner {
      background-color: $color-green;
      transition: all 0.3s;
    }
  }

  &__level {
    margin-left: 1rem;
    width: 5rem;
  }
}
