section {
  @extend .flex, .flex__column;
  margin: 3rem 0;
}

.education {
  &__list {
    @extend .flex, .flex__column;
    justify-content: flex-start;
    list-style: none;

    &__item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 1rem;
      width: 40rem;
      & span {
        margin-right: 0.5rem;
        font-weight: 700;
      }
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  max-width: 95vw;

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.5rem;
  }

  &__title {
    text-align: right;
    width: 25rem;
    margin-right: 1rem;
    @include respond(phone) {
      width: 15rem;
      margin-right: 1rem;
    }
  }

  &__bar {
    position: relative;
    width: 30rem;
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 25rem;
    }

    @include respond(phone) {
      width: 20rem;
    }

    &__inner {
      background-color: $color-imperial;
      transition: all 0.3s;
    }
  }

  &__level {
    margin-left: 1rem;
    width: 5rem;
  }
}

.exp {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100vw;
  }

  &__section {
    width: 60rem;
    max-width: 95vw;
  }

  &__title {
    @extend .flex, .flex__column;
    width: 100%;
  }

  &__year {
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
  }

  &__item {
    @extend .flex, .flex__column;
    width: 55rem;
    max-width: 90vw;
    margin-bottom: 3rem;

    .paragraph {
      width: 55rem;
    }
  }
}
