.nav {
  @extend .flex;
  z-index: 10;
  width: 100vw;
  // background-color: rgba($color-black, 0.7);
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  // background-color: $color-gunmetal;
  background-image: linear-gradient(
    to right,
    rgba($color-dark, 0.85),
    rgba($color-gunmetal, 0.85),
    rgba($color-dark, 0.85)
  ) !important;

  &__list {
    @extend .flex;
    font-size: $default-font-size;

    &__item {
      padding: 1rem;
      margin-top: 1rem;
      color: $color-light !important;
      transition: all 0.3s;
      white-space: pre-line;
      text-align: center;

      &::after {
        content: '';
        display: block;
        margin: 0.5rem auto;
        height: 2px;
        background-color: $color-cyan;
        width: 30%;
        opacity: 0;
        transition: all 0.3s;
        // transition: all 0.3s;
      }

      &.active {
        color: $color-cyan !important;
      }

      &:hover {
        color: $color-cyan !important;
        &::after {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
}
