.nav {
  @include flex;
  z-index: 100;
  width: 100vw;
  // background-color: rgba($color-black, 0.7);
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  // background-color: $color-gunmetal;
  background-image: linear-gradient(
    to right,
    rgba($color-dark, 0.85),
    rgba($color-gunmetal, 0.85),
    rgba($color-dark, 0.85)
  ) !important;

  &__list {
    @include flex;

    font-size: $default-font-size;
    position: relative;

    &__item {
      padding: 1rem 1rem 0 1rem;
      margin-top: 1rem;
      color: $color-light !important;
      transition: all 0.3s;
      white-space: pre-line;
      text-align: center;

      &::after {
        content: "";
        display: block;
        margin: 0.5rem auto;
        height: 2px;
        background-color: $color-cyan;
        width: 30%;
        opacity: 0;
        transition: all 0.3s;
        // transition: all 0.3s;
      }

      &.active {
        color: $color-cyan !important;
      }

      &:hover {
        color: $color-cyan !important;
        &::after {
          opacity: 1;
          width: 100%;
        }
      }

      &.desktop {
        @include respond(phone) {
          display: none;
        }
      }
      &.mobile {
        display: none;
        @include respond(phone) {
          display: initial;
        }
      }
    }
  }

  @include respond(phone) {
    padding-right: 1rem;
    justify-content: flex-end;
  }
  // @include respond(small-phone) {
  //   margin-right: 0;
  // }

  &__icon {
    position: absolute;
    left: 0;

    margin-left: 1.5rem;
    // margin-right: auto;
    &__svg {
      width: 3rem;
      & path,
      & circle {
        transition: all 0.3s;
      }

      &:hover path {
        fill: $color-red;
      }
      &:hover circle {
        stroke: $color-red;
      }
    }
  }
}
