.skills {
  max-width: 95vw;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    transition: all 0.4s;
    border-radius: 3px;
    // cursor: pointer;

    &.active {
      & .skills__text {
        opacity: 1;
        visibility: visible;
        max-height: 10rem;
        margin: 2rem 1rem 0 1rem;
      }

      & .skills__wrapper {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: initial;
    transition: all 0.3s;
    margin: 0.5rem;
    border-radius: 3px;
    max-width: 95vw;

    &:hover {
      // background-image: $gradient-blue;
      // color: $color-platinum;
      // padding: 0.5rem;

      // & .skills__bar__inner {
      //   background-color: $color-platinum;
      //   background-image: none;
      // }
      // & .skills__bar__right {
      //   background-color: $color-gunmetal;
      // }
    }
  }

  &__title {
    max-width: 28rem;
    margin-right: 1rem;
    text-align: right;

    @include respond(phone) {
      width: 15rem;
      margin-right: 1rem;
    }

    @include respond(small-phone) {
      width: 10rem;
    }
  }

  &__bar {
    position: relative;
    width: 28rem;
    transition: all 0.4s;

    @include respond(tab-port) {
      width: 25rem;
    }

    @include respond(phone) {
      width: 20rem;
    }

    @include respond(small-phone) {
      width: 15rem;
    }

    &__inner {
      // background-color: $color-cyan;
      background-image: $gradient-blue;
      transition: all 0.3s ease;
    }

    &__right {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-color: $color-platinum;
      transition: all 0.3s ease;
    }
  }

  &__level {
    margin-left: 1rem;
    width: 5rem;
  }

  &__text {
    @extend .flex, .flex__column;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all 0.5s;
    text-align: justify;
    color: $color-blue;
    width: 100%;
    margin: 0;

    &__paragraph {
      width: 45rem;
    }
  }
}

.exp {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100vw;
  }

  &__section {
    width: 60rem;
    max-width: 95vw;
    min-height: 45rem;
  }

  &__title {
    @extend .flex, .flex__column;
    width: 100%;
  }

  &__year {
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
  }

  &__item {
    @extend .flex, .flex__column;
    width: 55rem;
    max-width: 90vw;
    margin-bottom: 3rem;

    .paragraph {
      width: 55rem;
    }
  }
}

#otherexperience {
  svg {
    height: 10rem;
    @include respond(phone) {
      height: 6rem;
    }
  }
}
