.icon-bg {
  &__red {
    fill: url(#icon-gradient-red) $color-red;
  }

  &__blue {
    fill: url(#icon-gradient-blue) $color-blue;
  }

  &__green {
    fill: url(#icon-gradient-green) $color-green;
  }
}

#icon-gradient-blue {
  --color-1: #01baef;
  --color-2: #2a37b1;
}

#icon-gradient-red {
  --color-1: #c0227e;
  --color-2: #ce5b3f;
}

#icon-gradient-green {
  --color-1: #27ee73;
  --color-2: #2afadf;
}
