.icon-bg {
  &__red {
    fill: url(#icon-gradient-red) $color-red;
  }

  &__blue {
    fill: url(#icon-gradient-blue) $color-blue;
  }

  &__green {
    fill: url(#icon-gradient-green) $color-green;
  }

  &__light {
    fill: url(#icon-gradient-light) $color-light;
  }
}

#icon-gradient-blue {
  --color-1: #01baef;
  --color-2: #2a37b1;
}

#icon-gradient-red {
  --color-1: #c0227e;
  --color-2: #ce5b3f;
}

#icon-gradient-green {
  // --color-1: #27ee73;
  // --color-2: #2afadf;
  --color-1: #17aa61;
  --color-2: #28e4ab;
}

#icon-gradient-light {
  --color-1: #fdfdfd;
  --color-2: #e9e7ee;
}
