// THEME COLORS

$color-plum: #c0227e;
$color-plum-2: #d447aa;
$color-gunmetal: #2d3142;
$color-blue: #212e9e;

$color-cyan: #01baef;

$color-green: #27ee73;
$color-green-2: #2afadf;
$color-platinum: #e9e7ee;
// $color-plum: #923169;
// $color-lavender: #c6b9cd;
// $color-imperial: #08415c;
// $color-imperial: #0f6a94;

// $color-plum: #861657;
// $color-plum: #923169;
// // $color-plum: #863062;
// // $color-plum: #ad367c;
// $color-red: #a64253;
// $color-pink: #d56aa0;
// $color-green: #bbdbb4;
// $color-almond: #fcf0cc;

// $color-violet: #59344f;
// $color-metal: #857e7b;
// $color-green: #8bbf9f;
// $color-yellow: #d6ba73;
// $color-wheat: #f5e0b7;

// $color-1: #2d3142;
// $color-2: #4f5d75;
// $color-2: #08415c;
// // $color-3: #bfc0c0;
// $color-3: #a5a5a5;
// $color-4: #ffffff;
// $color-5: #ef8354;

// COLORS

$color-black: #000000;
$color-dark: rgb(11, 11, 22);

$color-light: #e7e7e7;
$color-lighter: #fdfdfd;
$color-gray: #9a9a9a;
$color-gray-2: #585d59;

$color-white: #ffffff;

// FONT
$default-font-size: 1.6rem;
$gradient-plum: linear-gradient(to left, $color-plum, $color-plum-2);
$gradient-green: linear-gradient(to left, $color-green-2, $color-green);
$gradient-blue: linear-gradient(to left, $color-blue, $color-cyan);
