// THEME COLORS

$color-red: #c0227e;
$color-red-2: #d447aa;
$color-orange: #ce5b3f;
$color-gunmetal: #2d3142;
$color-blue: #2a37b1;
$color-cyan: #01baef;

// $color-green: #27ee73;
// $color-green-2: #2afadf;
$color-green: #28e4ab;
$color-green-2: #17aa61;
$color-platinum: #e9e7ee;

// $color-green: #bbdbb4;

// $color-green: #8bbf9f;

// COLORS

$color-black: #000000;
$color-dark: rgb(11, 11, 22);

$color-light: #e7e7e7;
$color-lighter: #fdfdfd;
$color-gray: #9a9a9a;
$color-gray-2: #585d59;

$color-white: #ffffff;

// FONT
$default-font-size: 1.6rem;
$gradient-red: linear-gradient(to right, $color-red, $color-orange);
$gradient-green: linear-gradient(to left, $color-green-2, $color-green);
$gradient-blue: linear-gradient(to left, $color-blue, $color-cyan);
