// COLORS

$color-black: #000000;
$color-dark: #222;

$color-light: #e7e7e7;
$color-lighter: #fdfdfd;
$color-gray: #9a9a9a;
$color-gray-2: #585d59;

$color-white: #ffffff;

// FONT
$default-font-size: 1.6rem;
