h1,
h2,
h3,
h4,
.paragraph {
  max-width: 90%;
}

h1 {
  background-color: red;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  // font-family: Orbitron, 'sans-serif';
  // color: $color-speksi-3;
  display: inline-block;
  max-width: 90%;

  &__h1 {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 6rem;
    // color: $color-speksi-2;
    @include respond(tab-port) {
      font-size: 5rem;
    }
    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    @include respond(tab-port) {
      font-size: 3.2rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }

    &::after {
      content: '';
      display: block;
      margin: 1rem auto;
      height: 3px;
      background-color: red;
      width: 100%;
    }
  }

  &__h3 {
    text-transform: initial;
    font-size: 3rem;
    letter-spacing: 2px;

    @include respond(tab-port) {
      font-size: 2.5rem;
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }
}

.paragraph {
  margin: 2rem 3rem;
  font-size: $default-font-size;
  text-align: justify;
  width: 80rem;
  max-width: 90%;

  @include respond(tab-port) {
    margin: 1.5rem;
  }
}
