// .fadeIn {
//   animation: fadeIn ease-out 1;
//   animation-duration: 0.4s;
// }

@keyframes hideBgImage {
  0% {
    background-image: linear-gradient(to right, #0b0b16, #2d3142, #0b0b16);
  }

  90% {
    background-image: linear-gradient(to right, #0b0b16, #2d3142, #0b0b16);
  }

  100% {
    background-image: none;
  }
}

.header__bg {
}

.rollTitles {
  animation: rollTitles 10s ease-in-out 0s infinite;
}

.skills__animate {
  width: 0;
  animation: showSkills 3s ease-in-out 0s 1 forwards;
}

@keyframes rollTitles {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(0);
  }

  22% {
    transform: translateY(-25%);
  }
  37% {
    transform: translateY(-25%);
  }
  44% {
    transform: translateY(-50%);
  }

  59% {
    transform: translateY(-50%);
  }

  66% {
    transform: translateY(-75%);
  }

  100% {
    transform: translateY(-75%);
  }
}

@keyframes showSkills {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.page-transition-enter {
  opacity: 0;
  transform: translateX(-100vw);
}
.page-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms;
}
.page-transition-exit {
  opacity: 1;
  transform: translateX(0);
}
.page-transition-exit-active {
  opacity: 0;
  transform: translateX(100vw);
  transition: all 300ms;
}

.me {
  &__icons,
  &__icon {
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: both;
  }
}

.me__icons {
  animation-name: showIcons;
}

.me__icon {
  animation-name: rotateIcons;
}

.me__img {
  animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
}

@keyframes showIcons {
  0% {
    opacity: 0;
    transform: scale(0) rotate(180deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotateIcons {
  0% {
    transform: rotate(-180deg) translate(-50%, 0);
  }

  100% {
    transform: rotate(0) translate(-50%, 0);
  }
}
