h1,
h2,
h3,
h4,
.paragraph {
  max-width: 90%;
}

p,
ul,
li {
  font-size: $default-font-size;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  max-width: 90%;

  &__name {
    color: $color-plum;
  }

  &__h1 {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: left;
    white-space: nowrap;

    @include respond(tab-port) {
      font-size: 4rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &__h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    @include respond(tab-port) {
      font-size: 3.2rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }

    &::after {
      content: '';
      display: block;
      margin: 1rem auto;
      height: 3px;
      background-color: red;
      width: 100%;
    }
  }

  &__h3 {
    text-transform: initial;
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

.paragraph {
  margin: 2rem 3rem;
  font-size: $default-font-size;
  text-align: justify;
  width: 80rem;
  max-width: 90%;

  &__strong {
    font-style: italic;
    font-weight: 300;
    text-align: center;
  }

  @include respond(tab-port) {
    margin: 1.5rem;
  }
}
