h1,
h2,
h3,
h4,
.paragraph {
  max-width: 90vw;
}

p,
ul,
li {
  font-size: $default-font-size;
}

.heading {
  text-align: center;
  display: inline-block;
  color: $color-gunmetal;

  &__color {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $gradient-red;
    transition: color 0.5s ease-in-out;
  }

  &__h1 {
    @include heading;
    width: 100%;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 4px;
    color: $color-platinum;
    // text-align: left;

    & span {
      white-space: nowrap;
    }

    @include respond(tab-land) {
      font-size: 4rem;
    }

    @include respond(tab-port) {
      font-size: 3rem;
    }
    @include respond(phone) {
      white-space: pre-wrap;
      font-size: 2.5rem;
    }

    &__colored {
      color: transparent;
      background-image: $gradient-red;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  &__h2 {
    @include heading;
    font-size: 4.5rem;
    letter-spacing: 2px;
    font-family: 'Arvo', serif;

    @include respond(tab-port) {
      font-size: 3.5rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }

    @include respond(small-phone) {
      font-size: 2rem;
    }
  }

  &__h3 {
    @include heading;
    text-transform: initial;
    font-size: 2rem;
    letter-spacing: 1px;
  }

  &__wrapper {
    @include flex;
    max-width: 60rem;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      max-width: 50rem;
    }

    @include respond(phone) {
      max-width: 40rem;
    }

    @include respond(small-phone) {
      max-width: 90vw;
    }

    &__red {
      border-bottom: 3px solid $color-red;
      border-top: 3px solid $color-red;
    }

    & svg {
      display: block;
      height: 6rem;
      margin-right: 2rem;
      fill: $gradient-blue;

      @include respond(phone) {
        height: 4rem;
        margin-right: 1rem;
      }
    }
  }
}

.paragraph {
  margin: 2rem 3rem;
  font-size: $default-font-size;
  text-align: justify;
  width: 80rem;
  max-width: 90%;

  &__italic {
    font-style: italic;
    font-weight: 300;
    text-align: center;
  }

  &__centered {
    text-align: center;
  }

  &__link {
    font-weight: 700;

    &:hover {
      color: $color-blue;
    }
  }

  @include respond(tab-port) {
    margin: 1.5rem;
  }
}

#header {
  &__red,
  &__blue,
  &__green {
    opacity: 0;
    transition: opacity 2s ease-in-out;

    &.active {
      opacity: 1;
    }
  }
}
