.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  &__column {
    flex-direction: column;
  }
}

.red-bg {
  background-image: $gradient-red;
}

.green-bg {
  background-image: $gradient-green;
}

.blue-bg {
  background-image: $gradient-blue;
}
